div {
    margin: 20px;
    float: left;
    width: 30%;
    height: 30%;
}

span {
    display: inline-block;
    margin-left: 13%;
    width: 80%;
}

h3 {
    margin-top: 0;
}
img {
    width: 300px;
}
svg {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.axis path, .x-axis path, .y-axis path,
.axis line, .x-axis line  .y-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text, .x-axis text, .y-axis text {
    font-family: sans-serif;
    font-size: 10px;
}
