<!DOCTYPE html>
<html ng-app="MyGithubApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>My AngularJs file</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="main.js"></script>
    <style>
        img {
            height: 50px;
        }
    </style>
</head>
<body>
    <div id="person" ng-controller="MainController">
        <p ng-style="personColour" ng-mouseover="changeColor()">{{message}} {{username}} !</p>
        {{count}}
        <form ng-submit="search()">
            <input type="text" placeholder="username" ng-model="username"/>
            <input type="button" value="submit" ng-click="search()">
        </form>
        <!--<p id="error">Error: {{error}}</p>-->
        <div ng-include="'persondetails.html'" ng-show="person"></div>
    </div>

</body>
</html>